$breadcrumbs-background-color: #3b4859;
$page-title-color: #ffffff;
$breadcrumbs-link-color: #fcfcfc;
$breadcrumbs-link-current-page-color: #fcfcfc;
$logmanager-container-background-color: #3b4859;
$logmanager-container-border-color: #202226;
$page-heading-text-color: #ffffff;
$filter-container-label-text-color: #ffffff;
$dashboard-metrics-text-color: #ffffff;
$logmanager-text-color: #ffffff;